<header>
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">
                <img src="/images/ponies-logo.svg" alt="Pasadena Ponies Logo">
                <span>Pasadena Ponies</span>
            </a>
            
            <button class="mobile-menu-toggle" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</header>
